.container{
    margin-top: 10px;
    text-align: center;
}
body{
    background-image: url(https://images.unsplash.com/photo-1487528278747-ba99ed528ebc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    text-align: center;
    font-size: large;
    color:blue;
}
h1{
    color:blue;
    font-size: large;
    text-align: center;

}